@{ Layout = "../_all.cshtml";}
@section head{
    <style type="text/css">
        * {margin:0px;padding:0px;}
        html,body {width:100%;height:100%;display:table;}
        body {position:fixed;z-index:0;top:0;right:0;bottom:0;left:0;background:#909090 url('@ViewBag.LoginBg') center center no-repeat;background-size:cover;text-align:center;font-family:"Arial","Microsoft YaHei","黑体","宋体",sans-serif;}
        .main {width:100%;height:100%;display:table-cell;text-align:center;vertical-align:middle;}
        .container {width:520px;height:300px;display:inline-block;}
        .tabs {width:100%;height:50px;display:table;}
        .tab-item {width:33.3%;height:100%;cursor:pointer;font-size:20px;letter-spacing:3px;display:table-cell;text-align:center;vertical-align:middle;background-color:rgba(76,76,76,0.6);color:rgba(255,255,255,0.85);}
        .tab-item.active {cursor:default;background-color:rgba(255,255,255,0.75);color:#333333;}
        .tab-item.desabled {background-color:rgba(255,255,255,0);}
        .boxs {min-height:120px;padding:15px;background-color:rgba(255,255,255,0.75);}
        .form {margin-left:-70px;}
        .form label {width:70px;color:#8a8a8a;font-size:15px;line-height:24px;display:inline-block;margin-top:12px;margin-bottom:5px;}
        .form input {font-size:16px;font-weight:bolder;line-height:1;width:224px;height:36px;margin:0;padding:0 10px;-webkit-transition:all .25s ease;transition:border .25s ease;text-align:left;color:#3d444f;border:1px solid #ccd1d9;border-radius:2px;outline:0;background-color:#fff;box-shadow:none;}
        .form input::-webkit-input-placeholder {color:#999;font-weight:normal;}
        .submit {width:244px;color:#ffffff;cursor:pointer;letter-spacing:10px;background:#cf712b;margin-top:10px;margin-left:70px;display:inline-block;padding:6px 0px;border:none;}
        .copyright {color:#868686;margin-top:15px;font-size:13px;}
    </style>
    <script type="text/javascript" src="@ViewBag.Assets/js/md5.js"></script>
    <script type="text/javascript" src="@ViewBag.Assets/js/vue-qriously.js"></script>
    <script type="text/javascript" src="//g.alicdn.com/dingding/dinglogin/0.0.5/ddLogin.js"></script>
    <script type="text/javascript">
        var _ua = navigator.userAgent.toLowerCase();
        if (_ua.indexOf('msie') >= 0 || _ua.indexOf('firefox') >= 0 || _ua.indexOf('opera') >= 0 || _ua.indexOf('chrome') < 0) {
            document.write('<div style="font-size:12px;color:#333;width:100%;height:40px;line-height:40px;background:#FFC107;text-align:center;">您正在使用浏览器未完全支持本系统特性，我们推荐使用以下浏览器： <a href="http://browser.qq.com">QQ浏览器</a> / <a href="http://se.360.cn">360安全浏览器</a> / <a href="http://www.google.com/chrome/?hl=zh-CN">Chrome最新版</a></div>');
        }
    </script>
}
@section body{
    <div class="main" id="app">
        <div class="container">
            <div class="tabs">
                <div class="tab-item" v-on:click="setTab(0)" v-bind:class="{active:tab === 0}">账号登录</div>
                <div class="tab-item" v-on:click="setTab(1)" v-bind:class="{active:tab === 1}">扫码登录</div>
            </div>
            <div class="boxs">
                <div class="form" v-if="tab === 0">
                    <div>
                        <label>用户名：</label><input v-model="username" type="text" />
                    </div>
                    <div>
                        <label>密　码：</label><input v-model="password" type="password" @@keydown="toSubmit($event)" />
                    </div>
                    <div v-if="verify">
                        <label>验证码：</label><input v-model="verifycode" type="text" style="width:120px" />
                        <img v-on:click="showVerify" :src="verifyurl" style="width:100px;height:36px;vertical-align:bottom;border:1px solid #ccd1d9;cursor:pointer;box-sizing:border-box" />
                    </div>
                    <div>
                        <button class="submit" @@click="toLogin()">登录</button>
                    </div>
                </div>
                <div class="form" v-else-if="tab === 1">
                    <div style="text-align:center;padding-left:70px;">
                        <div style="padding:20px;">
                            <qriously :value="qrtext" :size="200" />
                        </div>
                        <div style="line-height:30px;">请使用钉钉扫码登录</div>
                    </div>
                </div>
                <div class="copyright">版权所有 &copy; @Html.Raw(ViewBag.OrganName)@Html.Raw(ViewBag.MiitICP)</div>
            </div>
        </div>
    </div>
}
@section foot{
    <script type="text/javascript">
        new Vue({
            el: '#app',
            data: {
                tab: 0,
                timer: '',
                qrcode: '',
                verify: '@Html.Raw(ViewBag.VerifyCode)' == 'true',
                verifyurl: '',
                verifycode: '',
                username: localStorage.username || '',
                password: ''
            },
            computed: {
                qrtext() {
                    return 'http://' + location.hostname + '/dingtalk/qrscan/' + this.qrcode + '?showmenu=false'
                }
            },
            methods: {
                setTab: function (index) {
                    let t = this
                    if (index == 0) {
                        t.tab = index
                    } else if (index == 1) {
                        t.tab = index
                        if (index == 1 && t.qrcode === '') {
                            t.qrcode = Math.random().toString(36).substr(3) + Math.random().toString(36).substr(3) + Math.random().toString(36).substr(3) + Math.random().toString(36).substr(3);
                            if (!t.timer) {
                                t.timer = setInterval(() => {
                                    if (t.tab == 1) {
                                        asyncPost(location.pathname + '?do=qrtoken', { code: this.qrcode }).then(res => {
                                            if (res.success) {
                                                clearInterval(t.timer)
                                                t.enter()
                                            }
                                        })
                                    }
                                }, 1000)
                            }
                        }
                    } else {
                        return Vue.prototype.$message({ message: '暂未支持此登录方式', type: 'error' })
                    }
                },
                showVerify() {
                    this.verifycode = ''
                    this.verifyurl = "/login?do=verifycode&t=" + new Date().getTime()
                },
                toLogin: function () {
                    let pwd = hex_md5(hex_md5(hex_md5(this.password).toUpperCase()).toUpperCase()).toUpperCase()
                    post(location.pathname, { "account": this.username, "password": pwd, "verifycode": this.verifycode }).then(res => {
                        if (res.success) {
                            localStorage.setItem("username", this.username);
                            this.enter()
                        } else {
                            this.showVerify()
                            Vue.prototype.$message({ message: res.message, type: 'error' })
                        }
                    })
                },
                toSubmit: function (event) {
                    let t = this
                    if (event.keyCode != 13) {
                        return
                    } else {
                        t.toLogin()
                    }
                },
                enter() {
                    if (location.search) {
                        location.href = decodeURIComponent(location.search.substring(1))
                    } else {
                        sessionStorage.removeItem('session');
                        history.replaceState(null, '', '/');
                        //location.href = '/'
                        location.reload();
                    }
                }
            },
            created: function () {
                this.showVerify()
                document.title = '@Html.Raw(ViewBag.SystemName)'
                try {
                    if (self.frameElement && self.frameElement.tagName == "IFRAME") {
                        let ifr = document.createElement('iframe');
                        ifr.src = '/jsapi.js?do=tologin';
                        ifr.style.display = 'none';
                        document.body.appendChild(ifr);
                    }
                } catch (e) { console.log(e) }
            }
        })
    </script>
}