<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="@ViewBag.Assets/js/element/theme-chalk/index.css" />
    <script type="text/javascript" src="@ViewBag.Assets/js/wln-vue.js"></script>
    <script type="text/javascript" src="@ViewBag.Assets/js/element/index.js"></script>@RenderSection("head", required: false)
</head>
<body>    @RenderSection("body", required: false)@RenderBody()@RenderSection("foot", required: false)</body>
</html>